@model Web.DTO.Pagination.IndexViewModel

<div>
    @foreach (var i in Model.Lots)
    {
        <div class="card mb-3">
            <a asp-controller="Lot" asp-action="Get" asp-route-lotId="@i.Id">
                <div class="row no-gutters" data-card-href="">
                    <div class="col-md-5 col-lg-4">
                        @{
                            if (string.IsNullOrEmpty(i.ImageUrl))
                            {
                                <img src="~/missing_project_photo.png" class="card-img" alt="...">
                            }
                            else
                            {
                                <img src="@i.ImageUrl" class="card-img" alt="...">
                            }
                        }
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@i.Title</h5>
                            <p class="card-text">@i.Description</p>
                            <div class="row justify-content-between mt-auto">
                                <div>
                                    <p class="card-text"><small class="text-muted">Lunch at: @i.LunchAt</small></p>
                                    <p class="card-text"><small class="text-muted">End at: @i.EndAt</small></p>
                                </div>
                                <div>
                                    <p class="card-text"><small class="text-muted">Goal: @i.Goal</small></p>
                                    <p class="card-text"><small class="text-muted">Funded: @i.Funded</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<ul page-model="@Model.PagingInfo"
    page-url-search="@Model.Search"
    page-url-show="@Model.ShowOptions"
    page-url-sortBy="@Model.SortBy"
    page-action="Index" page-classes-enabled="true"
    page-class="page-link" page-class-normal="page-item"
    page-class-selected="page-item active" class="pagination">
</ul>

@Html.HiddenFor(i => i.PagingInfo.TotalPages)

